﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div>
    <asp:TextBox ID="twitInput" runat="server" Width="605px"></asp:TextBox>
    <asp:Button ID="submitButton" runat="server" OnClick="SubmitButton_Click" Text="SUBMIT" />
</div>
</asp:Content>
